.profile-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.profile-div{
    height: 20rem;
    width: 80%;
    
    border-radius: 11px;
background: #e3e3e3;

}